<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
</head>
<body>
	This is index!
	<h1>Hello,{{ luckyNumber}}</h1>
	<h3><a href="/about">about</a></h3>
</body>
</html>