<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {{>title}}
    <meta name="keywords" content="wilddog,realtime,BaaS,HTML5,CoAP,野狗,野狗云,野狗实时,实时应用,实时,云服务,同步,长连接,物联网">
    <meta name="format-detection" content="email=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
</head>

<body>
	<h1>zhe shi login</h1>
</body>
</html>