<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>野狗 - 国内技术领先的实时后端云</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="轻松构建你的实时应用。野狗，实时应用的跨代重新定义，让每个终端设备都保持与云端的实时数据同步。对终端设备的操作急速被“克隆”到其他终端设备。全新的同步架构减少了请求次数，因此更加稳定，省电和省流量，还可以离线使用。从任何方面，野狗都在帮你提前领跑对手提供不可替代的优势。分分秒秒，野狗，狂奔速递！">
    <meta name="keywords" content="wilddog,realtime,BaaS,HTML5,CoAP,野狗,野狗云,野狗实时,实时应用,实时,云服务,同步,长连接,物联网">
    <meta name="format-detection" content="email=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
</head>

<body>
	<h1>{{>title}}</h1>
</body>
</html>